@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Jersey+15&display=swap');

body {
    font-family: "Jersey 15", sans-serif;
    font-family: "DotGothic16", sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

.navbar {
    background: #333;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 10;
}

.navbar ul {
    list-style: none;
    position: relative;
    display: flex;
    gap: 1rem;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.about {
    font-family: "Jersey 15", sans-serif;
}